.App {

}

.wrap {
    display: flex;
    margin: 50px;
}
.form_wrap {
    margin: 50px;
}

.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}

.active-filter {
    background-color: aquamarine;
}

.is-done {
    opacity: 0.5;
}




